{% load base_tags %}

<div class="menu_wrapper menu_sticky">
    <div class="container p_relative h50">
        <div id="navigation" class="of-drop-down of-main-menu" role="navigation">
            <ul class="menu">
                {% for nav in navbars %}
                    {% if nav.parent == None %}
                        <li class="{% if nav.children.all %}has_sub narrow{% else %}{% endif %}">
                            <a href="#"><i class="menu_icon_wrapper fal fa-home-lg-alt"></i>{{ nav.title }}</a>
                            {% if  nav.children.all %}
                                <div class="second">
                                    <div class="inner">
                                        <ul>
                                            {% for child in nav.children.all %}
                                                 {% include "home/partials/navbar_loop.html" with childs=child %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="m_search pt-3"><i class="fal fa-search"></i></div>
        <div class="is-show mobile-nav-button">
            <a id="of-trigger" class="icon-wrap" href="#"> <i class="fal fa-bars mt-1"></i> فهرست</a>
        </div>
        <form class="search_wrap mt-lg-0" id="ajax-form-search" method="get" action="">
            <input type="text" id="search-form-text" class="search-field" value="" name="s"
                   placeholder="کلید واژه مورد نظر ...">
            <button><i class="fal fa-search"></i></button>
            <input type="hidden" name="post_type" value="product">
            <div id="ajax-search-result"></div>
        </form>
    </div>
</div>